<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>INS La Bisbal - Blocked Page</title>

  <link rel="stylesheet" href="assets/css/sandstone.min.css">
  <script defer src="assets/js/fontawesome.min.js"></script>
  <script defer src="assets/js/main.js"></script>
  <script defer src="main.js"></script>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <section class="hero is-dark is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Blocked Page
        </h1>
        <div class="subtitle">
          <h2>badpage.com is blocked!</h2>
          <a class="button" href="/" style="margin-top: 2%;">
            <span class="icon is-small">
              <i class="fas fa-home"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer is-marginless">
    <div class="content has-text-centered">
      <p>
        <strong>Hotspot</strong> by
        <a href="https://sergivb01.me">Sergi Vos Bosch</a>
      </p>
      <p>Part de Treball de Recerca (2018-2019) de Sergi Vos Bosch.</p>
    </div>
  </footer>

</body>